@{
    Layout = "_LayoutDash";
    ViewData["Title"] = "Datos del jugador";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/Home/Datos.css" />
<script src="~/js/DatosJuga.js"></script>
<section class="page-section bg-light" id="services" style="font-family:'Oregon LDO'">
    <div class="container px-4 px-lg-5">
        <h2 style="color: #0070c0" class="text-center mt-0">Datos del jugador</h2>
        <hr class="divider  " id="line" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Nombre:</h3>
                    <p class="h4 mb-2">Alfredo</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Apellido Paterno:</h3>
                    <p class="h4 mb-2">Rivera</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Apellido Materno:</h3>
                    <p class="h4 mb-2">Flores</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Telefono:</h3>
                    <p class="h4 mb-2">2781110545</p>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Edad</h3>
                    <p class="h4 mb-2">11 años</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Correo electrónico:</h3>
                    <p class="h4 mb-2">river2145@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Fecha de nacimiento:</h3>
                    <p class="h4 mb-2">24-18-2011</p>
                </div>
            </div>

        </div>
    </div>
</section>

<h2 style="color: #0070c0" class="text-center mt-5 display-5">Estadisticas</h2>


<div class="board mt-5 mt-5 ">
    <div class="titulo_grafica">
        <h3 class="t_grafica" style="color:black; ">Tiempo jugado </h3>
    </div>
    <div class="sub_board">
        <div class="sep_board"></div>
        <div class="cont_board">
            <div class="graf_board">
                <div class="barra">
                    <div class="sub_barra b1">
                        <div class="tag_g">20 min</div>
                        <div class="tag_leyenda">día 1</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b2">
                        <div class="tag_g">10 min</div>
                        <div class="tag_leyenda">día 2</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b3">
                        <div class="tag_g">1 hrs</div>
                        <div class="tag_leyenda">día 3</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b4">
                        <div class="tag_g">3 hrs</div>
                        <div class="tag_leyenda">día 4</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b5">
                        <div class="tag_g">40 min</div>
                        <div class="tag_leyenda">día 5</div>
                    </div>
                </div>
            </div>
            <div class="tag_board">

                <div class="sub_tag_board">

                    <div>3 hrs</div>
                    <div>2 hrs</div>
                    <div>1 hrs</div>
                    <div>40 min</div>
                    <div>20 min</div>
                    <div>10 min</div>

                </div>
            </div>
        </div>
        <div class="sep_board"></div>
    </div>
</div>




























<hr style="color:#777575; height:3px; width:100%" />

<div>
    <h2 style="text-align:center; font-size:40px; margin-top:3%; margin-bottom:2%;">Perfil</h2>

    <table class="table table-bordered table-hover" align="center" style="border-color: lightsteelblue; font-family:'Oregon LDO' ">
        <thead style="background-color: #0070c0">
            <tr>
                <th class="text-white text-center">Id</th>
                <th class="text-white text-center">Respuestas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">Relaciones</th>
                <th class="text-center">
                    <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal" style="border-color: #0070c0; color: #0070c0 ">
                        Relaciones
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="right: 50%">
                                    <h4 class="modal-title " id="myModalLabel"> Relaciones</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover" align="center" border="1" style="max-height: calc(100vh - 210px);overflow-y: auto" ;>
                                        <thead style="background-color: #00bfeb" class="text-white">
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Amistades</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Vinculo</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Relación con familia</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Pasatiempo con amigos</td>
                                                <td>Si</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="text-center">Autopercepción</th>
                <th class="text-center">
                    <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal" style="border-color: #0070c0; color: #0070c0 ">
                        Autopercepción
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="right: 50%">
                                    <h4 class="modal-title " id="myModalLabel"> Autopercepción</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover" align="center" border="1" style="max-height: calc(100vh - 210px);overflow-y: auto" ;>
                                        <thead style="background-color: #00bfeb" class="text-white">
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Exito</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Fracaso</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Descripción</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Expresión</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Opinión</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="text-center">Entorno</th>
                <th class="text-center">
                    <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal" style="border-color: #0070c0; color: #0070c0 ">
                        Entorno
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="right: 50%">
                                    <h4 class="modal-title " id="myModalLabel"> Relaciones</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover" align="center" border="1" style="max-height: calc(100vh - 210px);overflow-y: auto" ;>
                                        <thead style="background-color: #00bfeb" class="text-white">
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Situación en casa</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Sensación en casa</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Estar en casa</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                            <tr>
                                                <td>Incomodida</td>
                                                <td>Respuesta textual</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="text-center">Gustos</th>
                <th class="text-center">
                    <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal" style="border-color: #0070c0; color: #0070c0 ">
                        Gustos
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="right: 50%">
                                    <h4 class="modal-title " id="myModalLabel"> Relaciones</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover" align="center" border="1" style="max-height: calc(100vh - 210px);overflow-y: auto" ;>
                                        <thead style="background-color: #00bfeb" class="text-white">
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lectura</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Viaje</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Deportes</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Suenos</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Juegos de mesa</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Naturaleza</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Naturaleza (respecto al agua)</td>
                                                <td>Si</td>
                                            </tr>
                                            <tr>
                                                <td>Pasatiempo</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                            <tr>
                                                <td>Color favorito</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                            <tr>
                                                <td>Animal favorito</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                            <tr>
                                                <td>Clima favorito</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                            <tr>
                                                <td>Estacion favorita</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                            <tr>
                                                <td>Musica favorita</td>
                                                <td>Respuesta texual</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>