@{
    Layout = "_LayoutDash";
    ViewData["Title"] = "Panel";
}

<h1 class="text-center">
    ¡Ha iniciado sesión con éxito!
</h1>
<h3 class="text-center">
    Bienvenido
</h3>
<div class="position-absolute top-50 start-50 translate-middle">
</div>
