
p {
    font-family: 'Oregon LDO';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000;
    margin: 0;
}

.section-fluid-main {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.section {
    position: relative;
    max-width: calc(100% - 40px);
    width: 860px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0;
}

.section-fluid {
    position: relative;
    width: 100%;
    display: block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}

.color-btn:checked + label,
.color-btn:not(:checked) + label {
    position: relative;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #00bfeb;
    margin-right: 10px;
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
    z-index: 10;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
}

.color-btn:checked + label {
    border-color: #434343;
    transform: scale(1.1);
}


.img-wrap {
    position: absolute;
    top: 100px;
    left: 0;
    width: 500px;
    height: 410px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
}

.for-color-1:checked ~ .img-wrap.chair-1 {
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}



.for-color-4:checked ~ .img-wrap.chair-4 {
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0) rotate(2deg);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0) rotate(3deg);
    }
}


.back-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-image: linear-gradient(196deg,#f1a9a9,#e66767);
    transition: all 250ms linear;
    transition-delay: 300ms;
}

.info-wrap {
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
}

.title-up {
    font-family: 'Oregon LDO';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Oregon LDO';
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Oregon LDO';
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
}

    h4 span {
        font-size: 20px;
        opacity: 0.6;
        padding-left: 15px;
    }

h5 {
    font-family: 'Oregon LDO';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.desc-btn:checked + label,
.desc-btn:not(:checked) + label {
    position: relative;
    transition: all 200ms linear;
    display: inline-block;
    border: none;
    cursor: pointer;
    color: #00bfeb;
    font-family: 'Oregon LDO';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    margin-right: 25px;
    opacity: 0.5;
}

.desc-btn:checked + label {
    opacity: 1;
}

.desc-btn:not(:checked) + label:hover {
    opacity: 0.8;
}

.desc-sec {
    padding-top: 20px;
    padding-bottom: 30px;
    transition: all 250ms linear;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
}

    .desc-sec.accor-2 {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        z-index: 2;
    }

#desc-1:checked ~ .desc-sec.accor-1 {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#desc-2:checked ~ .desc-sec.accor-2 {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.section-inline {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

    .section-inline p span {
        font-size: 30px;
        line-height: 1.1;
    }

.btn-d {
    position: relative;
    font-family: 'Oregon LDO';
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    height: 48px;
    border-radius: 4px;
    width: 210px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: 000;
    box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
    transition: all 250ms linear;
    text-decoration: none;
    margin-top: 50px;
}

.icon {
    padding-right: 7px;
    font-size: 20px;
}

.btn-d:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: #944852;
    transition: background-color 250ms 300ms ease;
}

.btn-d:hover {
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
    background-color: #000;
}

.for-color-2:checked ~ .info-wrap .btn-d:before {
    background-color: #00bfeb;
}

.clearfix {
    width: 100%;
}

    .clearfix::after {
        display: block;
        clear: both;
        content: "";
    }

.logo1 {
    position: relative;
    top: 25px;
    left: 25px;
    display: block;
    z-index: 1000;
    transition: all 250ms linear;
}

    .logo1 img {
        height: 50%;
        width: 30%;
        max-width:100%;
        margin-top: 15%;
        margin-left: 25%;
        display: block;
        transition: filter 250ms 700ms linear;
    }


@media screen and (max-width: 991px) {
    .section {
        margin: 0 auto;
        text-align: center;
        max-width: calc(100% - 40px);
        width: 370px;
    }

    label.first-color {
        margin-left: 0;
    }

    .info-wrap {
        margin-right: 20%;
        width: 370px;
        margin: 0 auto;
        text-align: center;
    }

    .img-wrap {
        width: 375px;
        height: 308px;
        left: 50%;
        margin-left: -190px;
    }

    .mob-margin {
        margin-top: 320px;
    }

    .desc-btn:checked + label,
    .desc-btn:not(:checked) + label {
        margin-right: 15px;
        margin-left: 15px;
    }

    .color-btn:checked + label,
    .color-btn:not(:checked) + label {
        height: 40px;
        width: 40px;
        margin: 5px auto;
        text-align: center;
    }

    .section-inline {
        margin: 0 5px;
    }
}

@media screen and (max-width: 575px) {
    .section {
        width: 280px;
    }

    .info-wrap {
        width: 280px;
    }

    .color-btn:checked + label,
    .color-btn:not(:checked) + label {
        height: 30px;
        width: 30px;
    }

    .section-inline p span {
        font-size: 24px;
        line-height: 1.1;
    }

    .section-inline p {
        font-size: 14px;
    }
}
