@model YOLOTOL.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidoP" class="control-label"></label>
                <input asp-for="apellidoP" class="form-control" />
                <span asp-validation-for="apellidoP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidoM" class="control-label"></label>
                <input asp-for="apellidoM" class="form-control" />
                <span asp-validation-for="apellidoM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasenia" class="control-label"></label>
                <input asp-for="contrasenia" class="form-control" />
                <span asp-validation-for="contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label"></label>
                <input asp-for="fechaNacimiento" class="form-control" />
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fotoPerfil" class="control-label"></label>
                <input asp-for="fotoPerfil" class="form-control" />
                <span asp-validation-for="fotoPerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
