@model YOLOTOL.Models.Usuarios
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Inicio de sesión</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="~/css/style.css">

</head>
<body class=" bg-light" style="font-family:'Oregon LDO'">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>ERROR:</strong> @Html.ValidationMessage("ErrorLogin")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last " style="background-color:#0070c0">
                            <div class="text w-100">
                                <h2 class="font-weight-bold h1">Bienvenido de nuevo</h2>
                                <p style="font-size:20px" class="font-weight-bold">¿No tienes una cuenta?</p>
                                <a asp-controller="Home" asp-action="Registro" class="btn btn-white btn-outline-white ">Crear una cuenta</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 style="font-size:30px;" class="mb-4 font-weight-bold  ">Iniciar sesión</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a asp-action="Inicio" asp-controller="Home" class="social-icon d-flex align-items-center justify-content-center"><span style="color:#0070c0" class="fa-solid fa-circle-arrow-left"></span></a>

                                    </p>
                                </div>
                            </div>
                            <form method="post" asp-controller="Login" asp-action="Login" class="signin-form needs-validation">
                                <div class="form-group mb-3 ">
                                    <label class="label" for="name">Correo electrónico</label>
                                    <input type="email" class="form-control" placeholder="Correo electrónico" asp-for="correo" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Contraseña" asp-for="contrasenia" required>
                                </div>
                                <div class="form-group">
                                    <button style="background-color:#0070c0" type="submit" class="form-control btn btn-primary submit  px-3">Ingresar</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Recordarme
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Olvide mi contraseña</a>
                                    </div>
                                </div>
                                @Html.AntiForgeryToken()
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="~js/jquery.min.js"></script>
    <script src="~js/popper.js"></script>
    <script src="~js/bootstrap.min.js"></script>
    <script src="~js/main.js"></script>

</body>
</html>

