@{

    ViewData["Title"] = "¿Quiénes somos?";
}


<header class="masthead text-center text-dark">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0 font-weight-bold"> ¿Quiénes somos?</h1>
            <hr class="divider  mt-2 " id="linea1" />
        </div>
    </div>
</header>

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/Home/Nos_img01.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 style="color: #0070c0" class="display-4"> Misión</h2>
                    <p>
                        Formar con compromiso, entusiasmo y responsabilidad, niños capaces de reconocer, analizar y solucionar
                        conflictos socioemocionales; al mismo tiempo que desarrollar autonomía social,
                        gracias a la adquisición de valores humanos y conocimiento psicológico acreditado por profesionales de la salud mental.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"Porque en el EDEN lo imposible se hace realidad con el mundo digital."</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="~/img/Home/Nos-LogEden.png" alt="EDEN" />
                        <div class="fw-bold">
                            EDEN
                            <span class="fw-bold text-primary mx-1">/</span>
                            Equipo YOLOTOL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/Home/Nos_img02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 style="color: #0070c0" class="display-4 ">Visión</h2>
                    <p>
                        Ser un proyecto reconocido por profesionales de la salud mental, instituciones educativas, padres de familia y
                        organizaciones enfocadas en el desarrollo sociopsicológico de los niños; logrando formar humanos más
                        responsables comprometidos y capaces en cuanto al cuidado moral y ético del futuro de la humanidad,
                        del planeta y de todo ser vivo que habite en el mismo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="page-section bg-light" id="services">
    <div class="container px-4 px-lg-5">
        <h2 style="color: #0070c0" class="text-center mt-0">VALORES EMPRESARIALES</h2>
        <hr class="divider  " id="line" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Altruismo</h3>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Calidad</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Cooperación</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Disciplina</h3>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Originalidad</h3>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Honestidad</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Responsabilidad</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">• Solidaridad</h3>
                </div>
            </div>
        </div>
    </div>
</section>