@model IEnumerable<YOLOTOL.Models.Productos>

@{
    ViewData["Title"] = "Catálogo";
}

<header class="bg-info-50 py-5 " style="font-family: Oregon LDO">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-4 fw-bolder text-dark mb-2 font-weight-bold">Productos YOLOTOL</h1>
                    <p class=" lead fw-normal text-dark-50 mb-2">Encuentra una gran variedad de productos al mejor precio.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-center align-content-center text-center">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/img/Home/Des_banner.png" alt="YOLOTOL" title="YOLOTOL" /></div>
        </div>
    </div>
</header>
<hr />
<div class="container" style="font-family:'Oregon LDO'">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="contenedor container m-md-4 box-shadow" style="background-color: #f2f2f2">
                    <img class="card-img-top" src="~/Producto/@Html.DisplayFor(modelItem => item.Imagen)" style="height: 225px; width: 100%; display: block;" />
                    <div class="card-body">
                        <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <p><strong>Precio $@Html.DisplayFor(modelItem => item.Precio)MNX</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@item.IdProducto" type="submit" class="btn btn-sm btn-outline-info">Ver más</a>

                                <a asp-action="AddToCart" asp-route-id="@item.IdProducto" type="submit" class="btn btn-sm btn-outline-info">Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


